In [3]:
import pandas
dt = pandas.read_csv('flavour (1).csv')
dt

    Age  Gender             Flavour
0     6    Male           Chocolate
1     6  Female          Strawberry
2     7    Male           Chocolate
3     8  Female          Strawberry
4    11    Male        Butterscotch
5    10  Female        Butterscotch
6    12    Male        Butterscotch
7    14  Female             Vanilla
8    15    Male               Mango
9    15  Female             Vanilla
10   17    Male               Mango
11   16  Female        Butterscotch
12   19    Male  Almond & Chocolate
13   18  Female        Butterscotch
14   20    Male  Almond & Chocolate
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [5]:
len(dt['Age'])

20

In [7]:
#here we encode male and female values to numeric that will help ML model to understand
#we use LabelEncoder for doing this(it is under sklearn.preprocessing)
from sklearn.preprocessing import LabelEncoder
Enc = LabelEncoder()
Enc.fit(['Male','Female'])

LabelEncoder()

In [8]:
dt['Gender'] = Enc.transform(dt['Gender']) #for male it is 1 and female it is 0 now

In [10]:
#creating input output
x = dt.drop(columns=['Flavour'])
y = dt.drop(columns = ['Age','Gender'])

In [13]:
from sklearn.tree import DecisionTreeClassifier
CModel = DecisionTreeClassifier()
CModel.fit(x,y)

DecisionTreeClassifier()

In [21]:
#checking predected output
age = 22
gender = Enc.transform(['Female'])
CModel.predict([[age,gender]])

array(['Coffe'], dtype=object)

In [22]:
Enc.inverse_transform([1])

array(['Male'], dtype='<U6')

In [23]:
def flav_pred():
    age = input("Input Age:")
    gen = input("Gender:").capitalize()
    gender = Enc.transform([gen])
    flav = CModel.predict([[age,gender]])
    print('Recommender Flavour:', flav[0])

In [25]:
flav_pred()

Input Age:56
Gender:male
Recommender Flavour: Almond & Chocolate